
/*
Tipue Search 3.0.1
Copyright (c) 2013 Tipue
Tipue Search is released under the MIT License
http://www.tipue.com/search
*/

#tipue_search_input {
}

#tipue_search_content {
    clear: left;
    max-width: 620px;
	padding: 25px 0 13px 0;
    margin: 0;
}

#tipue_search_loading {
    padding-top: 60px;
    background: #fff url('img/loader.gif') no-repeat left;
}

#tipue_search_warning_head {
}

#tipue_search_warning {
}

#tipue_search_warning a {
    color: #3f72d8;
    text-decoration: none;
}

#tipue_search_warning a:hover {
    padding-bottom: 1px;
    border-bottom: 1px solid #ccc;
}

#tipue_search_results_count {
}

.tipue_search_content_title {
    margin-top: 16px;
    font-weight: bold;
}

.tipue_search_content_title a {
}

.tipue_search_content_title a:hover {
    padding-bottom: 1px;
    border-bottom: 1px solid #ccc;
}

.tipue_search_content_text {
    padding: 13px 0;
}

.tipue_search_content_loc {
    overflow: auto;
}

.tipue_search_content_loc a {
}

.tipue_search_content_loc a:hover {
    padding-bottom: 1px;
    border-bottom: 1px solid #ccc;
}

#tipue_search_foot {
    margin: 48px 0 16px 0;
}

#tipue_search_foot_boxes {
    padding: 0;
    margin: 0;
}

#tipue_search_foot_boxes li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#tipue_search_foot_boxes li a {
    padding: 7px 13px 8px 13px;
    background-color: #f1f1f1;
    border: 1px solid #dcdcdc;
    border-radius: 1px;
    color: #333;
    margin-right: 7px;
    text-decoration: none;
    text-align: center;
}

#tipue_search_foot_boxes li.current {
    padding: 7px 13px 8px 13px;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 1px;
    color: #333;
    margin-right: 7px;
    text-align: center;
}

#tipue_search_foot_boxes li a:hover {
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}
